<h1><p><b>About</b></p>
<p><b>Newtown Radio</b> is a Brooklyn-based Internet radio station dedicated to sharing the great music that the neighborhoods around Newtown Creek — Williamsburg, Greenpoint, Bushwick, Long Island City, Ridgewood — create and enjoy.</p></h1>
<h2><p><b>FAQ</p></a></h2>
<p>Q: How can I listen to the Newtown Radio show archives?</p>
<p>A: Visit the archive section of our website</p>
<p>Q: Where can I watch The Newtown Sessions video series?</p>
<p>A: Visit our Youtube Channel</p>
<p>Q: Where can I send music for radio play consideration?</p>
<p>A: Email us at: newtownradio@gmail.com
<h3><p><b>Privacy Policy | Terms of Use</b></p></h3>
<%= image_tag("CoverPhoto.jpg", class:"img-responsive")%>
<p>Other questions, get in touch with us at: <b>contact@newtownradio.com</b></p>
