<%= image_tag("NTR_LOGO.png", class:"img-responsive")%>
<p><b>Newtown Radio</b> is a Brooklyn-based internet radio station dedicated to sharing the great music that the neighborhoods around Newtown Creek — Williamsburg, Greenpoint, Bushwick, Long Island City, Ridgewood — create and enjoy.</p>
