<h1>About</h1>
<p>Newtown Radio is a Brooklyn-based internet radio station dedicated to sharing the great music that the neighborhoods around Newtown Creek — Williamsburg, Greenpoint, Bushwick, Long Island City, Ridgewood — create and enjoy.</p>
<%= image_tag("radio_strip.png", class:"img-responsive")%>