<h1><p><b>About</b></p>
<p><b>Newtown Radio</b> is a Brooklyn-based Internet radio station dedicated to sharing the great music that the neighborhoods around Newtown Creek — Williamsburg, Greenpoint, Bushwick, Long Island City, Ridgewood — create and enjoy.</p></h1>
<h2><p><b>FAQ</p></a></h2>
<p>Q: What's different about this app from the Newtown Radio Website?</p>
<p>A: This app was specifically tailored for iOS and Android phones with a custom designed player and show calendar alerts.A leaner lighter version of Newtown Radio is now redesigned to take with you on the go.</p>
<p>Q: I missed a live show. How can I listen to the archives?
<p>A: Visit the archive section of our website for the last recorded shows</p>
<p>Q: Where is the blog?</p>
<p>A: Only our featured blog post appears on this app. For full blog coverage visit http://www.newtownradio.com/blog</p>
<p>Q: Where can I watch The Newtown Sessions video series?</p>
<p>A: Visit our Youtube Channel</p>
<p>Q: Where can I send music for radio play consideration?</p>
<p>A: Email us at: newtownradio@gmail.com
</p>
<h3><p><b>Privacy Policy | Terms of Use</b></p></h3>
<%= image_tag("CoverPhoto.jpg", class:"img-responsive")%>
<p>Other questions, get in touch with us at: <b>contact@newtownradio.com</b></p>
