<h6><p><b>Featured</b></p></h6>
<%= image_tag("village_voice.jpg", class:"img-responsive")%>
<p>Michael McGregor combs his crate at The Museum of Modern Art, New York NY. August 2015, co-presented by Newtown Radio & PopRally.</p><p>Photo credit: Anna Vallifuoco.</p>
