<%= image_tag("village_voice.jpg", class:"img-responsive")%>
<p>Michael McGregor combs his crate at The Museum of Modern Art, New York NY. Co-presented by Newtown Radio & PopRally.</p><p>Photo credit: Anna Villafuoco.</p>
