<p><b>Featured in the Blog</b></p>
<p>Michael McGregor combs his crate at The Museum of Modern Art, New York NY. August 2015, presented by PopRally and sponsored by Newtown Radio.</p>
<%= image_tag("village_voice.jpg", class:"img-responsive")%>
<p>Photo credit: Anna Vallifuoco.</p>