<%= image_tag("village_voice.jpg", class:"img-responsive")%> 
<h2>Welcome to Newtown Radio iOS version 2.0.</h2> 
<h3>Michael McGregor combs his crate at the Museum of Modern Art during MoMA Nights 2015, presented by PopRally and Newtown Radio. </h3>
<h4>Photo by Anna Vallifuoco.</h4>

