<div class="panel panel-default">
  <div class="panel-body">
  	<p><%= image_tag("CoverPhoto.jpg", class:"img-responsive")%></p>
    <p>Thank you. We have received your message and will respond as soon as possible.</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->
