<table>
  <tbody>
    <tr>
      <td><p>Thank you for your purchase with Newtown Radio!</p></td>
    </tr>
    <tr>
      <td><p><strong>-- The Newtown Radio Squad.</strong></p></td>
    </tr>
  </tbody>
</table>
