<table>
  <tbody>
    <tr>
      <td><p>Thank you for your purchase with <%= @appname %>!</p></td>
    </tr>
    <tr>
      <td><p><strong>- -- The <%= @appname %> Squad.</strong></p></td>
    </tr>
  </tbody>
</table>
