<div class="panel panel-default">
  <div class="panel-body">
    <p><%= image_tag("CoverPhoto.jpg", class:"img-responsive")%></p>
    <p>Thank you for your purchase, rock on!</p>
  </div>
  <!-- / panel-body -->
</div>
<!-- / panel -->
