<table>
  <tbody>
    <tr>
      <td><h2>Welcome!</h2></td>
    </tr>
    <tr>
      <td><p>Thank you for signing up with Newtown Radio!</p></td>
    </tr>
    <tr>
      <td><p><strong>- The Newtown Radio Squad.</strong></p></td>
    </tr>
  </tbody>
</table>
