<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for your purchase, <%= @user %>!</h1>
    <p>Have an awesome day!</p>
  </body>
</html>
