.navbar-brand {
    background: url("NTR_LOGO.png") left / contain no-repeat;
    position: fixed;
    width: 100%;
    left: auto;
    right: auto;
    text-align: center;
    margin: auto;
}

.navbar-fixed-top {
	border: 0;
}

.nav-tabs {
	border: 0
}

h1 {
	background: url("rotating-emoji.gif");
	background-repeat: no-repeat;
	padding-top: 25%;
	padding-bottom: 50%;
	text-align: center;
	margin-top: 15%;
	margin-bottom: 20%;
	margin-left: auto;
	margin-right: auto;
}

h3 {
	padding-top: 5%;
	font-size: 2em;
}

h4 {
	margin-left: auto;
	margin-right: auto;
}

h6 {
	font-size: 2em;
}

img {
	margin-left: auto;
	margin-right: auto;
	padding: 5%;
}

body {
	text-align: center;
	font-family: 'Lucida Sans Typewriter';
	color: black;
	height: 100%;
}

footer {
	position: relative;	
	left: auto;
	right: auto;
	bottom: 5%;
	text-align: center;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
