.navbar-brand {
    background: url("NTR_LOGO.png") left / contain no-repeat;
    position: fixed;
    width: 100%;
    left: auto;
    right: auto;
    text-align: center;
    margin: auto;
}

.navbar-fixed-top {
	border: 0;
}

h1 {
	margin-top: 0;
	padding: 10%;
	font-family: 'Lucida Sans Typewriter';
	font-size: 4em;
	text-align: center;
	background-image: url("8_bitsky.jpg");
	background-size: cover;
	color: white;
	width: 100%;
}

h2 {
	top: 0;
	background-repeat: no-repeat;
  position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: black;
	font-size: 3em;
	font-family: 'Cedarville Cursive', cursive; 
}

h3 {
	top: 0;
	font-size: 2em;
}

h4 {
	text-align: center;
}

h6 {
	margin-top: 5%;
	font-family: 'Lucida Sans Typewriter';
	font-size: 2em;
	top: 0;
	padding-top: 5%;
}

img {
	text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
}

body {
	font-family: 'Lucida Sans Typewriter';
	color: black;
	text-align: center;
}

.page-layout {
  padding: 10%;
  width: 100%;
}

.pro-name {
	color: blue;
	font-family: Serif;
	font-size: 2em;
}

#product-links {
  padding: 3%;
	font-family: Serif;
	font-size: 1.5em;
}

footer {
	position: relative;
	text-align: center;	
	bottom: 0;
	padding: 5%;
	font-family: monospace;
	font-size: 1em;
}

.navFooterBackToTopText {
  bottom: 0;
  visibility: hidden;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
