// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 body { 
  text-align: center;
  font-family: 'Lucida Sans Typewriter';
  color: black;
  background: url(""animated-rainbow-image.gif"");
  background-repeat: no repeat;
 }