// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
	margin-left: 5%
}

td {
	text-align: right;
}

th {
	margin-left: 5%;
}
