$font-stack: 'Roboto Slab', serif;
$primary-color: black;
$alpha-attribute: black; 

.container h1 h2 {
  background-color: rgba(black, 0.5);
  text-align: center;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
  font-family: 'Roboto Slab', serif;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 142px;
  padding-top: 60px; 
}
.site-footer {
  background-color: black;
  color: white;
}