.navbar-default .navbar-nav li a {
	color: white;
}

button input optgroup select textarea {
	color: white;
}

.navbar-text a {
	color: white
}

#navbar-style.container-fluid {
  background-color: black;
}
