<p id="notice"><%= notice %></p>
<h1><div id="page-layout" class="img-responsive">Merch</div></h1>
<div id="container" class="img-responsive">
<div class="row">
  <%= render @products %>
<br>

<%= link_to 'New Product', new_product_path %>

</div><!-- /row -->
</div><!-- /container -->